#container {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    height: 100vh;
}

#header {
    display: flex;
    border: 2px solid blue;
}

#content {
    display: flex;
    border: 2px solid orange;
    margin-top: auto;
    justify-content: center;
    align-items: center;
}

#calculator {
    display: flex;
    flex-direction: column;
    border: 2px solid pink;
}

#buttons {
    display: flex;
    border: 2px solid blue;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    border: 2px solid purple;
    justify-content: space-between;
    padding: 4px;
}

.input {
    margin: 4px;
    height: auto;
    width: 4vw;
} 

#footer {
    display: flex;
    border: 2px solid black;
    margin-top: auto;
}