body {
    background-color: lightblue;
}

#container {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    height: 100vh;
}

#header {
    display: flex;
    /* border: 2px solid blue; */
}

#content {
    display: flex;
    /* border: 2px solid orange; */
    margin-top: auto;
    justify-content: center;
    align-items: center;
}

#calculator {
    display: flex;
    flex-direction: column;
    border: 6px ridge pink;
    border-radius: 15px;
    height: 50vh;
    width: 50vh;
    background-color: lightgrey;
}

#display{
    display: flex;
}

#screen {
    display: flex;
    margin: 8px;
    height: 7vh;
    flex: 1;
    border-radius: 15px;
    background-color: coral;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2vh;
}

#buttons {
    display: flex;
    flex: 1;
    /* border: 2px solid blue; */
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    /* border: 2px solid purple; */
    justify-content: space-between;
    padding: 4px;
}

.input {
    margin: 4px;
    height: 8vh;
    width: 8vh;
    border-radius: 12px;
    /* height: auto;
    width: 4vw; */
}

.special {
    background-color: salmon;
}

.operator {
    background-color: orchid;
}

.equal {
    background-color: crimson;
}

#footer {
    display: flex;
    /* border: 2px solid black; */
    margin-top: auto;
    justify-content: center;
}
